# Tutorial - Spark in R
This notebook is designed to introduce some basic concepts and help get you familiar with using Spark in R. If you want to learn more, see the resources at the bottom of this notebook.  

In this notebook, we will load and explore the cars data that is pre-installed
in R. Specifically, this tutorial covers:

1. Loading data in memory
1. Creating SQLContext
1. Creating Spark DataFrame
1. Group data by columns 
1. Operating on columns
1. Running SQL Queries from a Spark DataFrame

## Loading in a DataFrame
To create a Spark DataFrame we load a local R DataFrame. We use a built-in DataFrame in R for our tutorials. Here is a built-in DataFrame in R, called `mtcars`. This DataFrame includes 32 observations on 11 variables.

[, 1]	mpg	Miles/(US) --> gallon  
[, 2]	cyl	--> Number of cylinders  
[, 3]	disp	--> Displacement (cu.in.)  
[, 4]	hp -->	Gross horsepower  
[, 5]	drat -->	Rear axle ratio  
[, 6]	wt -->	Weight (lb/1000)  
[, 7]	qsec -->	1/4 mile time  
[, 8]	vs -->	V/S  
[, 9]	am -->	Transmission (0 = automatic, 1 = manual)  
[,10]	gear -->	Number of forward gears  
[,11]	carb -->	Number of carburetors

In [1]:
head(mtcars)

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

## Initialize SQLContext
To work with dataframes we need a SQLContext which is created using `sparkRSQL.init(sc)`. SQLContext uses SparkContext which has been already created, named `sc`.

In [2]:
sqlContext <- sparkRSQL.init(sc)

## Creating Spark DataFrames
With SQLContext and a loaded local DataFrame, we create a Spark DataFrame:

In [3]:
sdf <- createDataFrame(sqlContext, mtcars) 
printSchema(sdf)

root
 |-- mpg: double (nullable = true)
 |-- cyl: double (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: double (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: double (nullable = true)
 |-- am: double (nullable = true)
 |-- gear: double (nullable = true)
 |-- carb: double (nullable = true)

## Displays the content of the DataFrame

In [4]:
SparkR::head(sdf)

   mpg cyl disp  hp drat    wt  qsec vs am gear carb
1 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
2 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
3 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
4 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
5 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
6 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

## Selecting columns

In [5]:
SparkR::head(select(sdf, sdf$mpg ))

   mpg
1 21.0
2 21.0
3 22.8
4 21.4
5 18.7
6 18.1

## Filtering Data
Filter the DataFrame to only retain rows with `mpg` less than 18

In [6]:
SparkR::head(SparkR::filter(sdf, sdf$mpg < 18))

   mpg cyl  disp  hp drat   wt  qsec vs am gear carb
1 14.3   8 360.0 245 3.21 3.57 15.84  0  0    3    4
2 17.8   6 167.6 123 3.92 3.44 18.90  1  0    4    4
3 16.4   8 275.8 180 3.07 4.07 17.40  0  0    3    3
4 17.3   8 275.8 180 3.07 3.73 17.60  0  0    3    3
5 15.2   8 275.8 180 3.07 3.78 18.00  0  0    3    3
6 10.4   8 472.0 205 2.93 5.25 17.98  0  0    3    4

## Operating on Columns
SparkR also provides a number of functions that can directly applied to columns for data processing and aggregation. The example below shows the use of basic arithmetic functions to convert lb to metric ton.

In [7]:
sdf$wtTon <- sdf$wt * 0.45
SparkR::head(sdf)

   mpg cyl disp  hp drat    wt  qsec vs am gear carb   wtTon
1 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4 1.17900
2 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4 1.29375
3 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1 1.04400
4 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1 1.44675
5 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2 1.54800
6 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1 1.55700

## Grouping, Aggregation
SparkR data frames support a number of commonly used functions to aggregate data after grouping. For example we can compute the average weight of cars by their cylinders as shown below:

In [8]:
SparkR::head(summarize(groupBy(sdf, sdf$cyl), wtavg = avg(sdf$wtTon)))

  cyl    wtavg
1   6 1.402714
2   8 1.799646
3   4 1.028577

In [9]:
# We can also sort the output from the aggregation to get the most common cars
car_counts <-summarize(groupBy(sdf, sdf$cyl), count = n(sdf$wtTon))
SparkR::head(arrange(car_counts, desc(car_counts$count)))

  cyl count
1   8    14
2   4    11
3   6     7

### Running SQL Queries from Spark DataFrames
A Spark DataFrame can also be registered as a temporary table in Spark SQL and registering a DataFrame as a table allows you to run SQL queries over its data. The `sql` function enables applications to run SQL queries programmatically and returns the result as a DataFrame.

In [10]:
# Register this DataFrame as a table.
registerTempTable(sdf, "cars")
# SQL statements can be run by using the sql method
highgearcars <- sql(sqlContext, "SELECT gear FROM cars WHERE cyl >= 4 AND cyl <= 9")
SparkR::head(highgearcars)

  gear
1    4
2    4
3    4
4    3
5    3
6    3

NOTE: This tutorial draws heavily from the original 
[Spark Quick Start Guide](http://spark.apache.org/docs/latest/quick-start.html)

## Want to learn more?

### Free courses on [Big Data University](https://bigdatauniversity.com/courses/analyzing-big-data-r-using-apache-spark/?utm_source=tutorial-spark-r&utm_medium=dswb&utm_campaign=bdu):

<a href="https://bigdatauniversity.com/courses/analyzing-big-data-r-using-apache-spark/?utm_source=tutorial-spark-r&utm_medium=dswb&utm_campaign=bdu"><img src = "https://ibm.box.com/shared/static/14f58d6iazn71i794oqsdlaimp9k51xq.png"> </a>


<h3>Authors:</h3>
<br>
<a href="https://ca.linkedin.com/in/saeedaghabozorgi">
    <div class="teacher-image" style="    float: left;
        width: 115px;
        height: 115px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #CCC;
        padding: 3px;
        border-radius: 3px;
        text-align: center;"><img class="alignnone wp-image-2258 " src="https://ibm.box.com/shared/static/tyd41rlrnmfrrk78jx521eb73fljwvv0.jpg" alt="Saeed Aghabozorgi" width="178" height="178"/>
    </div>
</a>

<h4>Saeed Aghabozorgi</h4>
<p><a href="https://ca.linkedin.com/in/saeedaghabozorgi">Saeed Aghabozorgi</a>, PhD is a Data Scientist in IBM with a track record of developing enterprise level applications that substantially increases clients’ ability to turn data into actionable knowledge. He is a researcher in data mining field and expert in developing advanced analytic methods like machine learning and statistical modelling on large datasets.</p>

<br>

<a href="https://ca.linkedin.com/in/polonglin">
    <div class="teacher-image" style="    float: left;
        width: 115px;
        height: 115px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #CCC;
        padding: 3px;
        border-radius: 3px;
        text-align: center;"><img class="alignnone size-medium wp-image-2177" src="https://ibm.box.com/shared/static/2ygdi03ahcr97df2ofrr6cf8knq4kodd.jpg" alt="Polong Lin" width="300" height="300"/>
    </div>
</a>
<h4>Polong Lin</h4>
<p>
<a href="https://ca.linkedin.com/in/polonglin">Polong Lin</a> is a Data Scientist at IBM in Canada. Under the Emerging Technologies division, Polong is responsible for educating the next generation of data scientists through Big Data University. Polong is a regular speaker in conferences and meetups, and holds a M.Sc. in Cognitive Psychology.</p>

<hr>
Copyright &copy; 2016 [Big Data University](https://bigdatauniversity.com/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).​